transformers==3.5.1
tokenizers==0.9.3
tqdm>=4.27
requests
protobuf==3.14.0
regex!=2019.12.17
sentencepiece==0.1.91
sacremoses==0.0.43
numpy
packaging==20.1
filelock==3.0.10
six==1.14.0
pyparsing>=2.0.2
chardet<4,>=3.0.2
idna<3,>=2.5
certifi>=2017.4.17
urllib3!=1.25.0,!=1.25.1<1.26
click==7.1.1
joblib==0.14.1
